# This workflow validates PRs and pushes with code checks, unit tests and end-to-end tests.
name: End To End Tests

on:
  push:
    branches:
      - main
jobs:
  end-to-end-tests:
    name: End To End Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        name:
          - End To End Tests with Go 1.22.0 and Terraform 1.6.6
          - End To End Tests with Go 1.21.7 and Terraform 1.5.7
        include:
          - name: End To End Tests with Go 1.22.0 and Terraform 1.6.6
            go: 1.22.0
            terraform: 1.6.6
          - name: End To End Tests with Go 1.21.7 and Terraform 1.5.7
            go: 1.21.7
            terraform: 1.5.7
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - env:
          TF_ACC: "1"
          TEST_REGION: "us-east-1"
          TEST_AVAILABILITY_ZONE: "us-east-1a"
          TEST_PCAPI_STACK_NAME: "ParallelCluster"
          TEST_USE_USER_ROLE: "true"
          TEST_CLUSTER_NAME: "test-cluster-github"
        run: go test ./... -v -run="^TestEnd2End" -timeout 60m
        timeout-minutes: 65
